<!-- https://www.hyperoffice.com/access-database-online/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Open source and free online database designer - dbdesigner.id </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Opensource database model and designer. visual database schema designer. Design database model online and generate SQL script with no coding or experience. The goal of this project is to make database designer is cheap for every one and have best technology and feature.
    I hove this project can help student, small startup to make great app with cheap tools.">
    <meta name="Keywords"
        content="Data Modeling Tool, Database Design Tool, Database Designer Tool, Database Modeling Tool, Free Database Design Tool, ERD, Entity Relationship Diagram, ER Diagram, ER Diagram Tool, ER Diagram Tool Online, Free ER Diagram Tool, ER Diagram Generator, SQL Database Design, Design SQL Database Online, SQL Database Modeler, SQL Server Database Modeling Tool, MySql Database Modeling Tool, Snowflake Database Modeling Tool, PostgreSql Database Modeling Tool, Open source database designer">
    <meta property="og:title" content="dbdesigner.id - Online Database Designer" />
    <meta property="og:image" content="https://dbdesigner.id/static/landing_page/img/bg-img/2.png" />
    <meta property="og:description" content="dbdesigner.id - Online Database Designer" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141765789-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141765789-1');
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="/static/landing_page/img/core-img/favicon.png">

    <style>
        /* The default background color is #c00 */
        .github-fork-ribbon.right-bottom:before {
            background-color: #090;
        }

        .github-fork-ribbon.left-top:before {
            background-color: #090;
        }
        .newFontColor{
            color : rgb(68, 68, 68)
        }
    </style>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/landing_page/style.css">
    <!-- START COPYING HERE -->
    <!-- <link rel="stylesheet" href="https://simonwhitaker.github.io/github-fork-ribbon-css/gh-fork-ribbon.css"> -->
    <link rel="stylesheet" href="/static/landing_page/css/github-ribbon.css">
    <!-- END COPYING HERE -->
</head>

<body>
    <!-- <a class="github-fork-ribbon" href="http://url.to-your.repo" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="loader"></div>
    </div> -->
    <!-- /Preloader -->
    <!-- <github-fork href="http://github.com/rcaferati/github-fork"></github-fork> -->
    <!-- Header Area Start -->
    <header class="header-area" >
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <a target="_blank" href="https://www.instagram.com/didin1453fatih/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <span>Instagram: didin1453fatih</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>Email: didin1453fatih@gmail.com</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="top-header-content">
                            <% if(user_name===null){ %>
                            <!-- Login -->
                            <a href="/login"><i class="fa fa-lock" aria-hidden="true"></i> <span>Login</span></a>
                            <!-- Registration -->
                            <a href="/registration" style="padding-right:20px"><span>Register</span></a>
                            <% } else { %>
                            <a href="/app"><i class="fa fa-user-o" aria-hidden="true"></i>
                                <span><%= user_name %></span></a>
                            <% }  %>
                            <!-- Language -->
                            <div class="dropdown">
                                <a class="btn pr-0 dropdown-toggle" href="#" role="button" id="langdropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                        src="/static/landing_page/img/core-img/eng.png" alt=""> English</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langdropdown">
                                    <a class="dropdown-item" href="#">- Indonesian</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="hamiNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html" style="color:white">
                            <!-- Uwais.online -->
                            <!-- <img src="./img/core-img/logo.png" alt=""> -->
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav" style="z-index: 100;">
                                <ul id="nav">
                                    <li class="active"><a class="navLi" href="/">Home</a></li>
                                    <li><a class="navLi" href="/docs">Docs</a></li>
                                    <!-- <li><a class="navLi" href="/about">About</a></li> -->
                                    <li><a class="navLi" target="_blank" href="https://github.com/didin1453fatih/dbdesigner.id">Github</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section class="welcome-area">

        <!-- Welcome Pattern -->
        <div class="welcome-pattern ">
            <img src="/static/landing_page/img/core-img/welcome-pattern.png" alt="">
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide hami--video--area" style="height: 100% !important;" >
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container ">
                    <div class="row h-100 align-items-top">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-5" style="margin-top:0">
                            <div class="welcome-text mb-50 ">
                                <h3 class="newFontColor" data-animation="fadeInLeftBig" data-delay="100ms"
                                    data-duration="1s" style="padding-bottom: 0px;margin-bottom: 0px">
                                    Online Open Source</h3>
                                <h3 class="newFontColor" data-animation="fadeInLeftBig" data-delay="200ms"
                                    data-duration="1s">Database Design</h3>
                                <p class="newFontColor" data-animation="fadeInLeftBig" data-delay="300ms"
                                    data-duration="1s">Design your Data Base</br> in your web</p>
                                <% if(user_name===null){ %>
                                <a href="/registration" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" style="border-radius: 10px;padding: 0px;" data-delay="800ms" data-duration="1s">Registration</a>
                                <a style="margin-left: 20px;border-radius: 10px;padding: 0px;"
                                    href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"
                                    class="btn hami-btn btn-2" data-animation="fadeInLeftBig" data-delay="800ms"
                                    data-duration="1s">Try Example</a>
                                <% } else { %>
                                <a href="/app" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" style="border-radius: 10px;padding: 0px;"
                                    data-delay="800ms" data-duration="1s">To Dashboard</a>
                                <% }  %>
                            </div>
                        </div>
                        <div class="col-12 col-md-7" style="padding-bottom: 100px">
                            <div class="video-content-area pr-3 mb-100">
                                <img style="color: rgb(224, 172, 0); width:100%;"
                                    src="/static/landing_page/gif/head-dbdesigner.id.gif" alt="">
                                <!-- add youtube link for getting started -->
                                <a style="background : rgb(224, 63, 0); color: aliceblue;"
                                    href="" class="video-play-btn"><i
                                        class="fa fa-play "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Features Area Start -->
    <section class="hami-features-area">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Features</h2>
                            <p>Database Designer for newbie web developer and student
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="row">
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_cloud-upload_alt"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Support Multi database</h5>
                                <p>It make reduce errors and save your time. Don't worry about remember sql, just use one
                                    click to export button.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_adjust-vert"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Collaborate & Share</h5>
                                <p>Share your design with magic Link to your friend like google docs sharing.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_archive_alt"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Designing & Modeling</h5>
                                <p>Make your model design as your database documentation for easy to explain to another
                                    people about your database.</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_globe-2"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Wide Networking</h5>
                                <p>It is online based, and it can access from aroud the earth</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_shield"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Protected</h5>
                                <p>Your data is secure by Allah SWT by default and we always work for protect your data</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Feature Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-feature-area d-flex mb-50">
                            <div class="feature-icon">
                                <i class="icon_headphones"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Wide Community Support</h5>
                                <p>You can join in github issue for get help from community and project maintainer
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <!-- Feature Pattern -->
            <!-- <div class="feature-pattern">
                <img src="/static/landing_page/img/core-img/welcome-pattern.png" alt="">
            </div> -->
        </section>
        <!-- Features Area End -->
    


    <!-- Second feaure Start -->
    <section class="hami-call-to-action " style="padding-top:50px">
        <div class="container align-items-top">
            <div class="row align-items-top">
                <div class="col-12 col-md-6">
                    <!-- <div class="cta-thumbnail pr-3 mb-100"> -->
                    <div class="cta-thumbnail mb-100" style="-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);">
                        <img src="/static/landing_page/img/bg-img/SqlExport.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 align-items-top">
                    <div class="cta--content pl-3 mb-100 align-items-top">
                        <h3 class="newFontColor" data-animation="fadeInLeftBig" data-delay="100ms" data-duration="1s"
                            style="font-size: 35px;margin-bottom: 10px;">Magic SQL Export</h3>
                        <p style="margin-bottom:0;">
                            This is Support any SQL database like
                        </p>
                        <div style="color:#707070">Mysql <span style="color:green;">✔</span></div>
                        <div style="color:#707070">Maria DB <span style="color:green;">✔</span></div>
                        <div style="color:#707070">Postgree SQL (soon)</div>
                        <div style="color:#707070">Oracle (soon)</div>
                        <div style="color:#707070">SQL Server (soon)</div>
                        <div style="color:#707070">SQL Lite (soon)</div>
                        <% if(user_name===null){ %>
                        <!-- <a href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"class="btn hami-btn mt-50">Try Example</a> -->
                        <% } else { %>
                        <!-- <a href="/app" class="btn hami-btn mt-50">To Dashboard</a>                             -->
                        <% }  %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Second feaure END -->






    <!-- Third feaure Start -->
    <section class="hami-call-to-action" style="padding-top:50px">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6">
                    <div class="cta-thumbnail mb-100" style="-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);">
                        <img src="/static/landing_page/img/bg-img/Magic-link-share.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cta--content pl-3 mb-100">
                        <h3 class="newFontColor" data-animation="fadeInLeftBig" data-delay="100ms" data-duration="1s"
                            style="font-size: 35px;margin-bottom: 10px;">
                            Share design with magic link
                        </h3 >
                        <p style="margin-bottom:0">
                            Share your design use link like                          
                        </p>
                        <a style="font-weight: 300; color :#1C66DE" href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2">https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2</a>                            
                        <p>
                            Try this link with Left Click 👆👆👆 and you will got a magic show 😎
                        </p>
                        <% if(user_name===null){ %>
                        <!-- <a href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"class="btn hami-btn mt-50">Try Example</a> -->
                        <% } else { %>
                        <!-- <a href="/app" class="btn hami-btn mt-50">To Dashboard</a>                             -->
                        <% }  %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Third feaure END -->





    <!-- Third feaure Start -->
    <section class="hami-call-to-action" style="padding-top:50px">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6">
                    <div class="cta-thumbnail mb-100" style="-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);">
                        <img src="/static/landing_page/img/bg-img/Export-to-Image-Crop.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cta--content pl-3 mb-100">
                        <h3 class="newFontColor" data-animation="fadeInLeftBig" data-delay="100ms" data-duration="1s"
                            style="font-size: 40px;">Magic Image Export</h3>
                        <p>
                            Export your design to image and crop only needed area. </br>
                            And you will direct to downloading this Cropped Image </br>
                            😎😎😎
                        </p>
                            <div style="margin-top: 50px;">
                                <% if(user_name===null){ %>
                                    <!-- <a href="/registration" class="btn hami-btn btn-1" data-animation="fadeInLeftBig" style="border-radius: 10px;padding: 0px;" data-delay="800ms" data-duration="1s">Registration</a> -->
                                    <a style="border-radius: 10px;padding: 0px;"
                                        href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"
                                        class="btn hami-btn btn-1" data-animation="fadeInLeftBig" data-delay="800ms"
                                        data-duration="1s">Try Example</a>
                                <% } else { %>
                                    <a href="/app" class="btn hami-btn btn-1" data-animation="fadeInLeftBig" style="border-radius: 10px;padding: 0px;"
                                        data-delay="800ms" data-duration="1s">To Dashboard</a>
                                <% }  %>          
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Third feaure END -->







    <footer class="footer-area">
        <!-- Bottom Footer Area -->
        <!-- bg-gray -->
        <div class="bottom-footer-area " style="background: #1566DF;color: white;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p style="color: white;">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a style="color: white;display: block-inline;"
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

        <!-- BOTTOM RIGHT RIBBON: START COPYING HERE -->
        <a class="github-fork-ribbon left-top fixed" id="ribbon-github-top" style="z-index: 1111;"
            href="https://github.com/didin1453fatih/dbdesigner.id" data-ribbon="Fork me on GitHub"
            title="Fork me on GitHub" target="_blank">Fork me on GitHub</a>
        <!-- BOTTOM RIGHT RIBBON: END COPYING HERE -->    
    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="/static/landing_page/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/static/landing_page/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/landing_page/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/static/landing_page/js/hami.bundle.js"></script>
    <!-- Active -->
    <script src="/static/landing_page/js/default-assets/active.js"></script>
    <script>
        if ($(window).width() <= 768) {  
            // is mobile device
            $('#ribbon-github-top').css('display', 'none');
            $('.classy-menu').css('background', '#1C66DE');
            $('.navLi').css('background', 'transparent');
            $('.navLi').css('color', 'white');
        }else{
            $('#ribbon-github-top').css('display', 'block');
        }     
        $(window).resize(function(){

        if ($(window).width() <= 768) {  

            // is mobile device
            $('#ribbon-github-top').css('display', 'none');
            $('.classy-menu').css('background', '#1C66DE');
            $('.navLi').css('background', 'transparent');
            $('.navLi').css('color', 'white');
        }else{
            $('#ribbon-github-top').css('display', 'block');
        } 

        });
    </script>
</body>

</html>