<!DOCTYPE html>
<html lang="en">

<head>    
    <!-- Title -->
    <title>Open source and free online database designer - dbdesigner.id </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Opensource database model and designer. visual database schema designer. Design database model online and generate SQL script with no coding or experience. The goal of this project is to make database designer is cheap for every one and have best technology and feature.
    I hove this project can help student, small startup to make great app with cheap tools.">        
    <meta name="Keywords" content="Data Modeling Tool, Database Design Tool, Database Designer Tool, Database Modeling Tool, Free Database Design Tool, ERD, Entity Relationship Diagram, ER Diagram, ER Diagram Tool, ER Diagram Tool Online, Free ER Diagram Tool, ER Diagram Generator, SQL Database Design, Design SQL Database Online, SQL Database Modeler, SQL Server Database Modeling Tool, MySql Database Modeling Tool, Snowflake Database Modeling Tool, PostgreSql Database Modeling Tool, Open source database designer">    
    <meta property="og:title" content="dbdesigner.id - Online Database Designer" />
    <meta property="og:image" content="https://dbdesigner.id/static/landing_page/img/bg-img/2.png" />
    <meta property="og:description" content="dbdesigner.id - Online Database Designer" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141765789-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141765789-1');
    </script>    
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="/static/landing_page/img/core-img/favicon.png">

    <style>

        /* The default background color is #c00 */
        .github-fork-ribbon.right-bottom:before {
            background-color: #090;
        }
        .github-fork-ribbon.left-top:before {
            background-color: #090;
        }

    </style>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/landing_page/style.css">  
    <!-- START COPYING HERE -->
    <link rel="stylesheet" href="https://simonwhitaker.github.io/github-fork-ribbon-css/gh-fork-ribbon.css">
    <!-- END COPYING HERE -->    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />     -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.3/webcomponents.min.js"></script>
    <link rel="import" href="/static/landing_page/github-fork.html">   -->

</head>

<body>
        <!-- <a class="github-fork-ribbon" href="http://url.to-your.repo" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="loader"></div>
    </div> -->
    <!-- /Preloader -->
    <!-- <github-fork href="http://github.com/rcaferati/github-fork"></github-fork> -->
    <!-- Header Area Start -->
    <header class="header-area" style="z-index: 0;">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <a target="_blank" href="https://www.instagram.com/didin1453fatih/">
                                <i class="fa fa-instagram" aria-hidden="true"></i> 
                                <span>Instagram: didin1453fatih</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i> 
                                <span>Email: didin1453fatih@gmail.com</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="top-header-content">
                                <!-- <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> <span><%= user_name %></span></a>                             -->
                            <!-- <a href="/registration" style="padding-right:20px"><i class="fa fa-phone" aria-hidden="true"></i><span><%= user_name %></span></a>                              -->
                            <% if(user_name===null){ %>                            
                                <!-- Login -->
                                <a href="/login"><i class="fa fa-lock" aria-hidden="true"></i> <span>Login</span></a>
                                <!-- Registration -->
                                <a href="/registration" style="padding-right:20px"><span>Register</span></a>
                            <% } else { %>
                                <a href="/app"><i class="fa fa-user-o" aria-hidden="true"></i> <span><%= user_name %></span></a>                            
                            <% }  %>
                            <!-- Language -->
                            <div class="dropdown">
                                <a class="btn pr-0 dropdown-toggle" href="#" role="button" id="langdropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                        src="/static/landing_page/img/core-img/eng.png" alt=""> English</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langdropdown">
                                    <a class="dropdown-item" href="#">- Indonesian</a>
                                    <!-- <a class="dropdown-item" href="#">- Hindi</a>
                                    <a class="dropdown-item" href="#">- Bangla</a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="hamiNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html" style="color:white">
                            <!-- Uwais.online -->
                            <!-- <img src="./img/core-img/logo.png" alt=""> -->
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/">Home</a></li>
                                    <!-- <li><a href="./hosting.html">Price</a></li> -->
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="./index.html">- Home</a></li>
                                            <li><a href="./hosting.html">- Hosting</a></li>
                                            <li><a href="./about.html">- About</a></li>
                                            <li><a href="./blog.html">- Blog</a></li>
                                            <li><a href="./single-blog.html">- Blog Details</a></li>
                                            <li><a href="./404.html">- 404</a></li>
                                            <li><a href="./coming-soon.html">- Coming Soon</a></li>
                                            <li><a href="#">- Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/about">About</a></li>
                                    <!-- <li><a href="./blog.html">Blog</a></li> -->
                                    <li><a href="#">Contact</a></li>
                                </ul>

                                <!-- Live Chat -->
                                <!-- <div class="live-chat-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                    <a href="#" class="btn hami-btn live--chat--btn"><i class="fa fa-comments"
                                            aria-hidden="true"></i> Live Chat</a>
                                </div> -->
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section class="welcome-area">

        <!-- Welcome Pattern -->
        <div class="welcome-pattern">
            <img src="/static/landing_page/img/core-img/welcome-pattern.png" alt="">
        </div>

        <!-- Welcome Slide -->
        <!-- <div class="welcome-slides owl-carousel"> -->

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container ">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-7">
                            <div class="welcome-text mb-50">
                                <h2 data-animation="fadeInLeftBig" data-delay="100ms" data-duration="1s">
                                    Open Source Database Design</h2>
                                <!-- <h3 data-animation="fadeInLeftBig" data-delay="200ms" data-duration="1s">Starting at <span>$5.99</span> $0.00/month*</h3> -->
                                <h3 data-animation="fadeInLeftBig" data-delay="200ms" data-duration="1s">Starting try
                                    Now</h3>
                                <p data-animation="fadeInLeftBig" data-delay="300ms" data-duration="1s">Everything you
                                    will EVER need to Design your Data Base!</p>
                                <% if(user_name===null){ %> 
                                    <a href="/registration" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" data-delay="800ms"
                                    data-duration="1s">Registration</a>
                                    <a href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" data-delay="800ms"
                                    data-duration="1s">Try Example</a>
                                <% } else { %>  
                                    <a href="/app" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" data-delay="800ms"
                                    data-duration="1s">To Dashboard</a>
                                <% }  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Thumbnail -->
            <div class="welcome-thumbnail">
                <img src="/static/landing_page/img/bg-img/1.png" alt="">
            </div>
        </div>

        <!-- </div> -->

        <!-- Clouds -->
        <div class="clouds">
            <img src="/static/landing_page/img/core-img/cloud-1.png" alt="" class="cloud-1">
            <img src="/static/landing_page/img/core-img/cloud-2.png" alt="" class="cloud-2">
            <img src="/static/landing_page/img/core-img/cloud-3.png" alt="" class="cloud-3">
            <img src="/static/landing_page/img/core-img/cloud-4.png" alt="" class="cloud-4">
            <img src="/static/landing_page/img/core-img/cloud-5.png" alt="" class="cloud-5">
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Find Domain Area Start -->
    <!-- <section class="find-domain-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="domain-text mb-100">
                        <h2>Use Your Perfect Tools For Design</h2>
                        <h6>Start Try Now...</h6> -->
                        <!-- <h6>Only $0 for the first year</h6> -->
                    <!-- </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="domain-search-form mb-100"> -->
                        <!-- Search Form -->
                        <!-- <form action="#" method="post" class="form-inline">
                            <input type="search" placeholder="Enter Your Problem">
                            <select name="domain-extension" id="domainExtension">
                                <option value=".com">.COM</option>
                                <option value=".com">.NET</option>
                                <option value=".com">.ORG</option>
                                <option value=".com">.US</option>
                                <option value=".com">.BIZ</option>
                                <option value=".com">.CO</option>
                            </select>
                            <button type="submit">Try Demo</button>
                        </form> -->

                        <!-- Domain Price Help -->
                        <!-- <div class="domain-price-help mt-50 d-flex align-items-center justify-content-between">
                            <p>.COM $5.75</p>
                            <p>.NET $9.45</p>
                            <p>.ORG $7.50</p>
                            <p>.US $5.99</p>
                            <p>.BIZ $9.99</p>
                            <p>.CO $6.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Find Domain Area End -->
    <!-- <a href="https://your-url" style="z-index: 100" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>         -->
    <!-- Call To Action Area Start -->
    <section class="hami-call-to-action">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="cta-thumbnail pr-3 mb-100">
                        <img src="/static/landing_page/img/bg-img/3.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cta--content pl-3 mb-100">
                        <h2>Support multi database</h2>
                        <!-- <p>Deploy your service infrastructure on our fully redundant, high performance cloud platform
                            and benefit from its high reliability, security and enterprise feature set. Easily enhance
                            the performance, security and reliability of your services with one of our managed cloud
                            hosting products, free data migration included.</p> -->
                        <p>
                            We work hard for simplyfy your work.                            
                            Our vision are support multi database.
                            We are support :
                        </p>
                        <div style="color:#707070">Mysql</div>
                        <div style="color:#707070">Maria DB</div>
                        <div style="color:#707070">Postgree SQL (soon)</div>
                        <div style="color:#707070">Oracle (soon)</div>
                        <div style="color:#707070">SQL Server (soon)</div>
                        <div style="color:#707070">SQL Lite (soon)</div>
                        <!-- Button -->
                        <% if(user_name===null){ %>     
                            <!-- <a href="/registration" class="btn hami-btn mt-50">Registration</a> -->
                            <a href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"class="btn hami-btn mt-50">Try Example</a>
                        <% } else { %>
                            <a href="/app" class="btn hami-btn mt-50">To Dashboard</a>                            
                        <% }  %>                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Area End -->

    <!-- Features Area Start -->
    <section class="hami-features-area bg-gray section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Overall Features</h2>
                        <p>Our revolutionary Database Design solution is powerful, simple, and surprisingly affordable.
                        </p>
                        <!-- <p>Our user interface look simple but it is powerful for database design.It make your work efficient and faster to think and imagine.</p> -->
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_cloud-upload_alt"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Export to SQL</h5>
                            <p>It make reduce errors and save your time. Dont worry about remember sql, just use one
                                clict to export button.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_adjust-vert"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Collaborate & Share</h5>
                            <p>Invite and share access with link to your design like google docs sharing.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_archive_alt"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Designing & Modeling</h5>
                            <p>Make your model design as your database documentation for easy to explain to another
                                pepole about your database.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_globe-2"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Wide Networking</h5>
                            <p>It is online based, and it can access from aroud the earth</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_shield"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Protected</h5>
                            <p>Your data is secure by Allah SWT by default and we always work for protect your data</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_headphones"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Free Support</h5>
                            <p>You can join in telegram group for free support from customer service and our community
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Feature Pattern -->
        <div class="feature-pattern">
            <img src="/static/landing_page/img/core-img/welcome-pattern.png" alt="">
        </div>
    </section>
    <!-- Features Area End -->

    <!-- Price Plan Area Start -->
    <!-- <section class="hami-price-plan-area mt-50">
        <div class="container">
            <div class="row"> -->
                <!-- Section Heading -->
                <!-- <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Choose Your Web Hosting Plan</h2>
                        <p>You want custom hosting plan. No hidden charge.</p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row justify-content-center"> -->

                <!-- Single Price Plan -->
                <!-- <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-price-plan mb-100"> -->
                        <!-- Title -->
                        <!-- <div class="price-plan-title">
                            <h4>Free Design</h4>
                            <p>Always - Free Service</p>
                        </div> -->
                        <!-- Value -->
                        <!-- <div class="price-plan-value">
                            <h2><span>$</span>0.00</h2>
                            <p>/per month</p>
                        </div> -->
                        <!-- Button -->
                        <!-- <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a> -->
                        <!-- Description -->
                        <!-- <div class="price-plan-desc">
                            <p><i class="icon_check"></i> Ads</p>
                            <p><i class="icon_check"></i> Up to 1000 Table</p>
                            <p><i class="icon_check"></i> Link Sharing</p>
                            <p><i class="icon_check"></i> Secure Sharing</p>
                        </div> -->
                        <!-- View All Feature Button -->
                        <!-- <a href="#" class="btn view-all-btn">Click here to see all features</a> -->
                    <!-- </div> -->
                <!-- </div> -->

                <!-- Single Price Plan -->
                <!-- <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-price-plan active mb-100"> -->
                        <!-- Popular Tag -->
                        <!-- <div class="popular-tag">
                            <i class="icon_star"></i> Soon <i class="icon_star"></i>
                        </div> -->
                        <!-- Title -->
                        <!-- <div class="price-plan-title">
                            <h4>Advanced Design</h4>
                            <p>On sale - Save 70%</p>
                        </div> -->
                        <!-- Value -->
                        <!-- <div class="price-plan-value">
                            <h2><span>$</span>4.99</h2>
                            <p>/per month</p>
                        </div> -->
                        <!-- Button -->
                        <!-- <a href="#" class="btn hami-btn w-100 mb-30">Get Started</a> -->
                        <!-- Description -->
                        <!-- <div class="price-plan-desc">
                            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
                            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
                            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
                            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
                        </div> -->
                        <!-- View All Feature Button -->
                        <!-- <a href="#" class="btn view-all-btn">Click here to see all features</a> -->
                    <!-- </div> -->
                <!-- </div> -->

                <!-- Single Price Plan -->
                <!-- <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-price-plan mb-100"> -->
                        <!-- Popular Tag -->
                        <!-- <div class="popular-tag">
                                <i class="icon_star"></i> Soon <i class="icon_star"></i>
                        </div>                         -->
                        <!-- Title -->
                        <!-- <div class="price-plan-title">
                            <h4>Unlimited Design</h4>
                            <p>On sale - Save 50%</p>
                        </div> -->
                        <!-- Value -->
                        <!-- <div class="price-plan-value">
                            <h2><span>$</span>_</h2>
                            <p>/per month</p>
                        </div> -->
                        <!-- Button -->
                        <!-- <a href="#" class="btn hami-btn w-100 mb-30">Contact US</a> -->
                        <!-- Description -->
                        <!-- <div class="price-plan-desc">
                            <p><i class="icon_check"></i> Unlimited Number of Websites</p>
                            <p><i class="icon_check"></i> Unlimited Email Accounts</p>
                            <p><i class="icon_check"></i> Unlimited Bandwidth</p>
                            <p><i class="icon_check"></i> 2X Processing Power &amp; Memory</p>
                        </div> -->
                        <!-- View All Feature Button -->
                        <!-- <a href="#" class="btn view-all-btn">Click here to see all features</a> -->
                    <!-- </div> -->
                <!-- </div> -->

            <!-- </div> -->
        <!-- </div>
    </section> -->
    <!-- Price Plan Area End -->

    <!-- Call To Action Area Start -->
    <section class="hami-call-to-action bg-white section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="cta-thumbnail mb-100" style="-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);">
                        <img src="/static/landing_page/img/bg-img/2.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cta--content mb-100">
                        <h2>Use Your Perfect Tools</h2>
                        <!-- Description -->
                        <div class="cta-desc mb-50">
                            <h6><i class="icon_check"></i> Model Design</h6>
                            <h6><i class="icon_check"></i> Drag An Drop</h6>
                            <h6><i class="icon_check"></i> Natural UI</h6>
                            <h6><i class="icon_check"></i> Modern UI</h6>
                            <h6><i class="icon_check"></i> Tracable</h6>
                            <h6><i class="icon_check"></i> Large canvas</h6>
                        </div>
                        <!-- Button -->
                        <!-- <a href="/app" class="btn hami-btn"></a>TRY Demo Now!</a> -->
                        <% if(user_name===null){ %>     
                            <!-- <a href="/registration" class="btn hami-btn">Registration</a> -->
                            <a href="https://dbdesigner.id/shared?uuid=2c786d95-fdfd-4ab8-a750-54cd300d49a2"  class="btn hami-btn">Try Example</a>                            
                        <% } else { %>
                            <a href="/app" class="btn hami-btn">To Dashboard</a>                            
                        <% }  %>                                             
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Area End -->

    <!-- Support Area Start -->
    <section class="hami-support-area bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="support-text">
                        <a href="https://api.whatsapp.com/send?phone=62895335478617&text=I%20am%20interest%20about%20dbdesigner.id" target="_blank">
                            <!-- <h2>Need help? WhatsApp Chat support team 24/7: +62 895335478617</h2> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Support Pattern -->
        <div class="support-pattern" style="background-image: url(/static/landing_page/img/core-img/support-pattern.png);"></div>
    </section>
    <!-- Support Area End -->

    <!-- Call To Action Area Start -->
    <!-- <section class="hami-cta-area">
        <div class="container">
            <div class="cta-text">
                <h2>Proudly Hosting Over <span class="counter">800,000</span> Websites Since 2000</h2>
            </div>
        </div>
    </section> -->
    <!-- Call To Action Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area">
    <!-- <footer class="footer-area section-padding-80-0"> -->        

        <!-- Main Footer Area -->
        <!-- <div class="main-footer-area">
            <div class="container">
                <div class="row justify-content-between"> -->

                    <!-- Single Footer Widget Area -->
                    <!-- <div class="col-6 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80"> -->
                            <!-- Widget Title -->
                            <!-- <h5 class="widget-title">Products</h5> -->

                            <!-- Footer Nav -->
                            <!-- <ul class="footer-nav">
                                <li><a href="#">Database Designer</a></li>
                                <li><a href="#">SaaS Form Builder</a></li>
                                <li><a href="#">Mobile App Builder</a></li>
                                <li><a href="#">App Hosting</a></li> -->
                                <!-- <li><a href="#">Reseller hosting</a></li>
                                <li><a href="#">Hosting features</a></li> -->
                            <!-- </ul>
                        </div>
                    </div> -->

                    <!-- Single Footer Widget Area -->
                    <!-- <div class="col-6 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80"> -->
                            <!-- Widget Title -->
                            <!-- <h5 class="widget-title">Company</h5> -->

                            <!-- Footer Nav -->
                            <!-- <ul class="footer-nav">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li> -->
                                <!-- <li><a href="#">Blog</a></li> -->
                            <!-- </ul>
                        </div>
                    </div> -->

                    <!-- Single Footer Widget Area -->
                    <!-- <div class="col-6 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80"> -->
                            <!-- Widget Title -->
                            <!-- <h5 class="widget-title">Products</h5> -->

                            <!-- Footer Nav -->
                            <!-- <ul class="footer-nav">
                                <li><a href="#">Shared hosting</a></li>
                                <li><a href="#">WordPress hosting</a></li>
                                <li><a href="#">Vps hosting</a></li>
                                <li><a href="#">Dedicated hosting</a></li>
                                <li><a href="#">Reseller hosting</a></li>
                                <li><a href="#">Hosting features</a></li>
                            </ul> -->
                        <!-- </div>
                    </div> -->

                    <!-- Single Footer Widget Area -->
                    <!-- <div class="col-6 col-sm-4 col-lg-2">
                        <div class="single-footer-widget mb-80"> -->
                            <!-- Widget Title -->
                            <!-- <h5 class="widget-title">Company</h5> -->

                            <!-- Footer Nav -->
                            <!-- <ul class="footer-nav">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul> -->
                        <!-- </div>
                    </div> -->

                    <!-- Single Footer Widget Area -->
                    <!-- <div class="col-12 col-sm-8 col-lg-4">
                        <div class="single-footer-widget mb-80"> -->
                            <!-- Widget Title -->
                            <!-- <h5 class="widget-title">Subscribe Newsletter</h5> -->

                            <!-- <p>Subscribe to our email newsletter for useful tips and valuable resources.</p> -->

                            <!-- Newsletter Form -->
                            <!-- <form action="index.html" class="nl-form">
                                <input type="email" class="form-control" placeholder="Your Mail">
                                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form> -->

                            <!-- Social Info -->
                            <!-- <div class="social-info"> -->
                                <!-- <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                                <!-- <a target="_blank" href="https://twitter.com/didin1453fatih" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a> -->
                                <!-- <a target="_blank" href="https://www.instagram.com/didin1453fatih/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                                <!-- <a href="#" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a> -->
                            <!-- </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->


    <!-- BOTTOM LEFT RIBBON: START COPYING HERE -->
    <!-- <a class="github-fork-ribbon left-bottom fixed" href="https://github.com/simonwhitaker/github-fork-ribbon-css" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
    <!-- BOTTOM LEFT RIBBON: END COPYING HERE -->        

    <!-- BOTTOM RIGHT RIBBON: START COPYING HERE -->
    <a class="github-fork-ribbon left-top fixed" style="z-index: 1111;" href="https://github.com/didin1453fatih/dbdesigner.id" data-ribbon="Fork me on GitHub" title="Fork me on GitHub" target="_blank">Fork me on GitHub</a>
    <!-- BOTTOM RIGHT RIBBON: END COPYING HERE -->

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Payment Methods -->
                        <!-- <div class="payments-methods d-flex align-items-center">
                            <p>Payments We Accept</p>
                            <i class="fa fa-cc-visa" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                            <i class="fa fa-cc-stripe" aria-hidden="true"></i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="/static/landing_page/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/static/landing_page/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/landing_page/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/static/landing_page/js/hami.bundle.js"></script>
    <!-- Active -->
    <script src="/static/landing_page/js/default-assets/active.js"></script>

</body>

</html>